# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# General rules
[*]
end_of_line = lf                # Unix-style newlines
insert_final_newline = true     # a newline ending every file
charset = utf-8                 # always utf-8
indent_style = space            # always indent with space
indent_size = 2                 # always use 2 spaces
trim_trailing_whitespace = true # no trailing space